.contact-us {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.contact-container {
background-image: url('../assets/DSC_0517.JPG');
background-size: cover;
background-position: center;
height: 300px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #ffffff;
}

.title-container h2 {
  font-size: 24px;
  color: #ffffff;
}

.contact-details {
  font-size: 16px;
  color: #666;
}

.contact-details p {
  margin: 8px 0;
}
