.new-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .article-card {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 80%;
  }

  .article-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgb(205,133,63);
    color: #fff;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .article-image {
    width: 30%;
    border-radius: 5px 0 0 5px;
  }
  
  .article-content {
    padding: 1rem;
  }
  
  .article-title {
    margin: 0;
  }
  
  .article-description {
    color: #666;
  }
  