.our-team {
    text-align: center;
  }

  .bar {
    height: 2px;
    background-color: #6b6b6b; 
    margin: 20px 0; 
}
  
  .ourteam-title-container {
    background-image: url('../assets/DSC_0231.JPG');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (last value) to make it darker */
    height: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 6rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
  }

  .team-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .section-title {
    font-size: 3rem;
    font-weight:bolder;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .member {
    width: 450px;
    margin: 20px;
  }
  
  .member img {
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin-bottom: 10px;
    border: 2px solid #000000; /* Add a border to the image */
    border-radius: 8px; /* Add rounded corners to the border */
    filter: brightness(50%); /* Make the image darker */
    transition: transform 2s ease, filter 2s ease;;
  }
  .member img:hover {
    transform: scale(1.13); /* Increase the scale on hover */
    filter: brightness(90%); /* Restore the original brightness on hover */
  }
  
  .description {
    margin-top: 10px;
    font-size: 24px;
  }
  
  