.search-container {
    position: absolute;
    top: 200px;             /* 200px down from the top */
    right: 10px;            /* Adjust this value to bring it closer or farther from the right edge */
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchBtn {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #45a049;
}


.name-section {
    margin-top: 50px; 
}
